{% extends "cTools_common.html" %}

{% block customCSS %}
    td {
        border: solid;
        /*
        border-collapse: separate;
        border-spacing: 5px;
        */
        padding: 1em;
    }
{% endblock %}


{% block formName %}Edit Menu{% endblock %}
{% block boddy %}
<form method="POST">
    {{ form.hidden_tag() }}
    
    <!-- Render Group Fields -->
    <div>
        {{ form.menu_group.GroupName.label }} {{ form.menu_group.GroupName() }}
        {{ form.menu_group.GroupInfo.label }} {{ form.menu_group.GroupInfo() }}
    </div>
    <table class="container">
        {% for i in range(10) %}
        {% set mItem_i = form.menu_items[i].form %}
        {% set mItem_i10 = form.menu_items[i+10].form %}
        <tr>
            <td>
                <span class='row'>
                    {{ mItem_i.OptionNumber.data }}
                    {% if mItem_i.id.data is not none %}(id {{ mItem_i.id.data }}){% endif %}
                    {{+ mItem_i.OptionText(style="width: 400px;") }}
                </span>
                <div class="row">
                    Command:  {{ mItem_i.Command(style="width: 150px;") }}
                    Argument: {{ mItem_i.Argument(style="width: 250px;") }}
                </div>
                {#
                fullMenuHTML += "<div class='row'>"
                fullMenuHTML += "<div class='col m-1'> Command: "
                fullMenuHTML += "<select style='width:10em' name='Command-" + istr + "'>"
                fullMenuHTML += commandchoiceHTML(mnItem_list[i_0based]['Command'])
                fullMenuHTML += "</select>"
                fullMenuHTML += " Argument: <input type='text' size='20' name='Argument-" + istr + "'"
                if mnItem_list[i_0based]['Argument']: fullMenuHTML += " value = '" + mnItem_list[i_0based]['Argument'] + "'"
                fullMenuHTML += "></input>"
                fullMenuHTML += "</div>"
                #}
                <div class="row">
                    Copy, Move | Remove go here
                </div>
                {#
                fullMenuHTML += "<div class='row'>"
                fullMenuHTML += "<div class='col m-1'>"
                fullMenuHTML += " Copy<input type='radio' name='CopyTo-" + istr + "' value='copy'>"
                fullMenuHTML += " Move<input type='radio' name='CopyTo-" + istr + "' value='move'>"
                fullMenuHTML += " to <input type='text' name='CopyTarget-" + istr + "' size='5'>"
                fullMenuHTML += " | "
                fullMenuHTML += " Remove:<input type='checkbox' name='Remove-" + istr + "'>"
                fullMenuHTML += "</div>"
                #}
                {##}
            </td>
            <td>
                <span class='row'>
                    {{ mItem_i10.OptionNumber.data }}
                    {% if mItem_i10.id.data is not none %}(id {{ mItem_i10.id.data }}){% endif %}
                    {{+ mItem_i10.OptionText(style="width: 400px;") }}
                </span>
                <div class="row">
                    Command:  {{ mItem_i10.Command(style="width: 150px;") }}
                    Argument: {{ mItem_i10.Argument(style="width: 250px;") }}
                </div>
                {#
                fullMenuHTML += "<div class='col m-1'> " + i2str + " "
                fullMenuHTML += "<input type='text' size='20' name='OptionText-" + i2str + "'"
                if mnItem_list[i_0based+10]['OptionText']: fullMenuHTML += " value = '" + mnItem_list[i_0based+10]['OptionText'] + "'"
                fullMenuHTML += "></input></div>"
                fullMenuHTML += "</div>"
                #}
                {#
                fullMenuHTML += "<div class='col m-1'> Command: "
                fullMenuHTML += "<select style='width:10em' name='Command-" + i2str + "'>"
                fullMenuHTML += commandchoiceHTML(mnItem_list[i_0based+10]['Command'])
                fullMenuHTML += "</select>"
                fullMenuHTML += " Argument: <input type='text' size='20' name='Argument-" + i2str + "'"
                if mnItem_list[i_0based+10]['Argument']: fullMenuHTML += " value = '" + mnItem_list[i_0based+10]['Argument'] + "'"
                fullMenuHTML += "></input>"
                fullMenuHTML += "</div>"
                fullMenuHTML += "</div>"
                #}
                <div class="row">
                    Copy, Move | Remove go here
                {#
                fullMenuHTML += "<div class='col m-1'>"
                fullMenuHTML += " Copy<input type='radio' name='CopyTo-" + i2str + "' value='copy'>"
                fullMenuHTML += " Move<input type='radio' name='CopyTo-" + i2str + "' value='move'>"
                fullMenuHTML += " to <input type='text' name='CopyTarget-" + i2str + "' size='5'>"
                fullMenuHTML += " | "
                fullMenuHTML += " Remove: <input type='checkbox' name='Remove-" + i2str + "'>"
                fullMenuHTML += "</div>"
                fullMenuHTML += "</div>"
                if i<10:
                    fullMenuHTML += "<hr>"
                #}
                {##}
            </td>
        </tr>
        {% endfor %}
    </table>

    {{ form.submit() }}
</form>
{% endblock %}