<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <h1>Calvin, you need to change this template!!</h1>
        <p>The requested URL: <strong>{{ requested_url }}</strong> was not found on this server.</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>
</body>
</html>
