{% extends "cTools_common.html" %}

{% block boddy %}
<table class="container table-container">
  <thead>
    <tr>
      <th>form menu name</th>
      <th>endpoint</th>
      <th>view</th>
    </tr>
  </thead>
  <tbody>
    {% for fMenuName, UV_tuple in forms.items() %}
    <tr>
      <td>{{ fMenuName }}</td>
      <td>{{ UV_tuple[0] if UV_tuple[0] is not none else "---" }}</td>
      <td>{{ UV_tuple[1] if UV_tuple[1] is not none else "---" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</ul>
{% endblock %}